body {
    background-image: url("/images/bgsquares.gif");
    background-color: lavender;
    height: 100%;

    cursor: url("/images/nat350.png"), progress !important;
}

:hover {
    cursor: url("/images/nat350.png"), progress !important;
}

:active {
    cursor: url("/images/nat350.png"), progress !important;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10vw;
    color: darkmagenta;
    margin-bottom: 30px;

    width: 100%;
    text-align: center;
}

.wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.buttons {
    flex-direction: column;
    justify-content: space-between;
}

.main {
    justify-content: center;
}

.textbox {
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.chatbox {
        font-size: 24px;
        justify-content: flex-start;
        max-height: 400px;
        overflow-y: scroll;
        align-items: flex-start;
        flex-direction: column-reverse;
}

.box {
    display: flex;

    width: 80%;
    border: 4px solid darkmagenta;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
    background-color: snow;
}

.button {
    justify-content: center;
    align-items: center;
    height: 80px;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message p {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: darkorchid;
    text-decoration: none;

    font-size: 32px;
}

a:hover {
    color: aqua;

    cursor: url(http://cur.cursors-4u.net/nature/nat-4/nat350.png), progress !important;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.writebox textarea {
    height: 60px;
    width: 75%;
    background-color: snow;
    border: 2px dashed aqua;

    font-size: 24px;
    font-family: serif;
}

.writebox textarea:focus {
    outline: none;
}

.writebox {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.writebox form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.writebox input {
    width: 20%;
    background-color: darkorchid;
    color: snow;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3vw;
}

.writebox input:hover {
    background-color: aqua;
}
