body {
    background-image: url("images/bgsquares.gif");
    background-color: lavender;

    cursor: url(http://cur.cursors-4u.net/nature/nat-4/nat350.png), progress !important;

}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 50px;
    color: darkmagenta;
    margin-bottom: 30px;

    width: 100%;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 80px;
    border: 4px solid darkmagenta;
    margin-bottom: 20px;
    background-color: snow;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: darkorchid;
    text-decoration: none;

    font-size: 32px;
}

a:hover {
    color: aqua;

    cursor: url(http://cur.cursors-4u.net/nature/nat-4/nat350.png), progress !important;
}
